<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connie's Page</title>
</head>
<body>
    
{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6 justify-content-md-center">
            <h2>Katherine's Page</h2>
    
            <p>This is how you use <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML" target="_blank">HTML5</a></p>    
        </div>
        <div class="col-lg-6">
            
        </div>

    </div>
</div>
{% endblock %}

</body>
</html>